
/* 0. Reset ================================= */
@import 'reset';
$primary-color: #f70c0c; //red
$secondary-color: #0600ff; //blue

$primary-font: "octin-college", sans-serif;
$secondary-font: 'Source Code Pro', monospace;

/* 1. Main Layout ================================= */

*{
	box-sizing: border-box;
}

body{
	background: #fff;
	width: 100%;
	
}

/* 2. Content ================================= */

.wrapper{
}

header{
	color: $primary-color;
	margin: 0 0 18px 2%;
		
	.logo{
		margin-top: 15px;
		display: flex;
		width: 50%;
		img{
			width: 10%;
			height: 10%;
		}
		h1{
			font-family: $primary-font;
			font-size: 2.3vw;
			padding-left: 3%;
			letter-spacing: 2px;
		}
	}

	.open-nav{
		display: flex;
		font-family: $secondary-font;
		justify-content: space-between;
		width: 35%;
		margin-left: 8%;
		margin-top: -2px;

		li{
			font-size: .6em;
		} 
	}
}

.section{

}

.performers-sect{
	.performers-bg{
		position: absolute;
		font-family: $primary-font;
		color: $secondary-color;
		opacity: .1;
		font-size: 5.5em;
		margin: 0 0 50px -2%;
		line-height: .8em;
		overflow: hidden;
	}

	.performer-imgs{
		padding-top: 5%;
		display: flex;
		justify-content: space-around;

		div{
		}

		.show-small{
			width: 25%;
			height: 0;
			padding-bottom: 35%;
		}

		.show-big{
			width: 30%;
			height: 0;
			padding-bottom: 47%;
			margin-top: -7%;
			margin-left: -33%;
		}

		.shawn-mendez-small{
			background: url(../img/shawn-small.png) top no-repeat;
			background-size: 100%;
			display: block;
		}

		.shawn-mendez-big{
			background: url(../img/shawn-big.png) top no-repeat;
			background-size: 100%;
			display: block;
		}

		.ariana-grande-small{
			background: url(../img/ariana-small.png) top no-repeat;
			background-size: 100%;
			display: block;
		}

		.ariana-grande-big{
			background: url(../img/ariana-big.png) top no-repeat;
			background-size: 100%;
			display: block;
		}

		.logic-small{
			background: url(../img/logic-small.png) top no-repeat;
			background-size: 100%;
			display: block;
		}

		.logic-big{
			background: url(../img/logic-big.png) top no-repeat;
			background-size: 100%;
			display: block;
		}

		.travis-scott-small{
			background: url(../img/travis-small.png) top no-repeat;
			background-size: 100%;
			display: none;
		}

		.travis-scott-big{
			background: url(../img/travis-big.png) top no-repeat;
			background-size: 100%;
			display: none;
		}

		.post-malone-small{
			background: url(../img/post-small.png) top no-repeat;
			background-size: 100%;
			display: none;
		}

		.post-malone-big{
			background: url(../img/post-big.png) top no-repeat;
			background-size: 100%;
			display: none;
		}		
	}
}

h3{
	font-family: $primary-font;
	font-size: 2.1em;
}

.voting-sect{
	h3{
		color: $primary-color;
	}

	h3.vote-right{
		color: $secondary-color;
	}
}

.video-library-sect{
	h3{
		color: $secondary-color;
	}
}

.photo-library-sect{
	h3{
		color: $primary-color;
	}
}

footer{
	background: $primary-color;
	padding: 3% 3%;

	ul{
		display: flex;
		justify-content: space-between;
		padding-right: 30%;
		padding-bottom: 3%;

		a{
			font-family: $secondary-font;
			color: #fff;
			font-size: 8px;
			text-transform: uppercase;
		}
	}
	
	p{
		font-family: $secondary-font;
		color: #fff;
		font-size: 7px;
	}
}











